body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            height: 100vh;
            padding: 20px;
        }
        .Etiqueta{

            background: #fff;
            padding: 20px;
            border-radius: 10px;
            width: 60%;
            text-align: center;
        }

        

        .input-container {
            background: #e0e0e0;
           
            width: 60%;
        }

        .input input {
            width: 100%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 5px;
            outline: none;
        }

        .contenedor {
           
        }

        .comentario {
            background: #fff;
            padding: 15px;
            border-radius: 5px;
            margin-bottom: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-weight: bold;

        }

        button {
            background: #007bff;
            color: white;
            border: none;
            padding: 5px 10px;
            border-radius: 5px;
            cursor: pointer;
            margin-left: 5px;
        }

        

        .comentario button:nth-child(2) {
            background: #dc3545;
        }